name: Run Python Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python setup.py install
          pip install pytest==6.1.2
      - name: Run tests with pytest
        run: pytest ./tests
      - name: Upload results
        run: bash <(curl -s https://codecov.io/bash) -t "${CODECOV_TOKEN}"