name: Check linting
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: chartboost/ruff-action@v1
