name: Test documentation

on:
  pull_request:

jobs:
  test-docs:
    # Functionality for testing documentation builds on multiple OSes and Python versions
    name: Build docs
    runs-on: "ubuntu-latest"
    concurrency:
      group: ${{ github.head_ref }}
      cancel-in-progress: true
    defaults:
      run:
        shell: bash -l {0}

    steps:
      # Grap the latest commit from the branch
      - name: Checkout the branch
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      # Create a virtual environment
      - name: create Conda environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.11"
          miniforge-version: "latest"

      # Install uv
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Build the documentation with MKDocs
        run: |
          conda install pandoc
          uv sync --extra docs
          uv run python docs/scripts/gen_examples.py --execute
          uv run mkdocs build
